{% extends 'base/default.html' %}
{% load custom_filters %}

{% block title %} Delete Post {% endblock title %}
{% block content %}
    <div class="container d-flex flex-md-column align-items-center">
      <h3>Are you sure you want to delete this post?</h3>
        <div class="w-75 p-3 d-flex justify-content-center" style="border: solid aquamarine 2px; border-radius: 5px">
            <br>
            <ul>
                <li> Title: {{ delete_news.title|censor|truncatewords:50 }}</li>
                <hr>
                <li>Publish Date: {{ delete_news.postDate|date:'d.m.Y H:i' }}</li>
                <hr>
                <li> Text: {{ delete_news.text|censor|truncatewords:50 }}</li>
                <hr>
                <li> Author: {{ delete_news.author.userAuthor }}</li>
            </ul>
        </div>
        <form method="POST">
          {% csrf_token %}
          <br>
          <input class="btn btn-success" type="submit" value="delete">
        </form>
    </div>
{% endblock content %}
